.scroll-x {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  touch-action: pan-y;

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    scrollbar-width: none;
    background: transparent;
  }
}

.separator {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 0;
    height: 1px;
    opacity: 0.32;
    bottom: 0;
    right: 0;
    background: radial-gradient(50% 50% at 50% 50%,
        var(--color-secondary) 0%,
        rgba(163, 59, 59, 0) 100%);
  }
}
